# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.idea
.eslintcache
# dependencies
/node_modules
/.pnp
.pnp.js
/package-lock.json

#documentation
/documentation

# testing
/coverage

# production
/build


